[defaults]
inventory = ./inventory/hosts.ini
remote_user = ubuntu
private_key_file = ~/.ssh/ansible_ed25519
host_key_checking = True
retry_files_enabled = False
roles_path = ./roles
interpreter_python = auto_silent
